<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container_flex">
    <h1>List of restaurants # index</h1>
    <p>Choose your restaurant !</p>
  </div>
</div>

<div class="container_flex">

  <div class="cards">
    <% @restaurants.each do |restaurant| %>
      <%= link_to restaurant_path(restaurant) do %>
        <%# <div class="cards"> %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= restaurant.img_url %>)">
            <%= restaurant.name %>
          </div>
        <%# </div> %>
      <% end %>
    <% end %>
  </div>

  <div>
    <button>
      <%= link_to new_restaurant_path do %>
        <i class="fa-solid fa-square-plus" style="color: #000000;"></i>
        Add a restaurant
      <% end %>
    </button>
  </div>


</div>
